<section>
  <ul>
    <li>
      <input type="checkbox">
      <input type="text" placeholder="Digite sua tarefa aqui">

      <button>
        <img src="assets/icons/icon-trash.svg" alt="">
      </button>
    </li>
    <li>
      <input type="checkbox">
      <input type="text" class="checked" placeholder="Digite sua tarefa aqui">

      <button>
        <img src="assets/icons/icon-trash.svg" alt="">
      </button>
    </li>
  </ul>
</section>

<app-todo-button-delete-all></app-todo-button-delete-all>
<app-todo-input-add-itens></app-todo-input-add-itens>
